<!doctype html>
<html lang="en">
    <body>
        <div class="body">
            <div class="container">
                <div class="header text-center">
                    <h4>Icewarp Cloud Trial expires in {{ expiresIn }} days</h4>
                </div>
                <div class="body">
                    <p>Hi,</p>
                    <p>This is to inform you that your IceWarp Cloud Trial will expire in  {{ expiresIn }} days. <br>
                    To learn how to convert it to production deployment, please <a href="{{ link.url }}">{{ link.label }}</a></p>
                    <br>
                    <br>
                    <div class="text-center">
                        <p>Kind regards,</p>
                        <p>Your IceWarp Team</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>